/*
** Style.css
** Contains style rules for the entire site.
** 
** This stylesheet is divided into display rules and typography rules.
** Those sections are then subdivided into general (whole site) rules and special (element specific) rules.
*/


/*///// GENERAL DISPLAY /////*/

body {
  background: ivory;
}

#container {
  width: 800px;
  min-height: 370px;
  margin: auto;
  background: #fdfdfd;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 30px;
}


/*///// SPECIAL DISPLAY /////*/

#header {
  width: 100%;
}

#menu {
  width: 800px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

#main {
  margin-top: 10px;
  width: 100%;
}

#footer {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  color: #777;
}

.right {
  display: inline;
  float: right;
}


/*///// GENERAL TYPOGRAPHY /////*/

body, input, textarea {
	font-family: Georgia;
	font-size: 12px;
}

a {
  color: #000;
}


/*///// SPECIAL TYPOGRAPHY /////*/












