/*
** Style.css
** Contains style rules for the entire site.
** 
** This stylesheet is divided into display rules and typography rules.
** Those sections are then subdivided into general (whole site) rules and special (element specific) rules.
*/


/*///// GENERAL DISPLAY /////*/

body {
  background: ivory;
}

#container {
  width: 800px;
  min-height: 370px;
  margin: 100px auto;
  background: #fdfdfd;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 30px;
}


/*///// SPECIAL DISPLAY /////*/

#main {
  margin-top: 10px;
  width: 100%;
}

#header {
  width: 100%;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  background-color: black;
  border-bottom: 3px double white;
  opacity: 0.8;
  box-shadow: 0px 5px 10px #888888;
}

#menu:hover {
	opacity: 1.0;
}

#footer {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  color: #777;
}

.right {
  display: inline;
  float: right;
}


/*///// GENERAL TYPOGRAPHY /////*/

body, input, textarea {
	font-family: Georgia;
	font-size: 12px;
}

a {
  color: #000;
  text-decoration: none;
}

#menu, #menu a {
	color: white;
}

/*///// SPECIAL TYPOGRAPHY /////*/












